.p-dialog-mask {
  background-color: #00000082;
}

.p-dialog-content {
  white-space: pre-wrap;
  border-radius: 1vw;
  padding: 2vw;
  font-family: "Free Serif";
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.651);
}

.confirm-button,
.ok-button {
  color: white;
  background-color: green;
}

.cancel-button {
  color: white;
  background-color: red;
}
